<!-- Create your form here -->
<form method="POST" action-"<%= students_path %>">
  <label>First name:</label><br>
  <input type="text" id="first_name" name="first[name]"><br>

  <label>Last name:</label><br>
  <input type="text" id="last_name" name="last[name]"><br>
</form>