<!-- Create your form here -->
<%= form_tag students_path do %>
  <label>First name:</label><br>
  <input type="text" id="first_name" name="first[name]"><br>

  <label>Last name:</label><br>
  <input type="text" id="last_name" name="last[name]"><br>
<% end %>
